{layout '../../App/templates/@layout.latte'}


{block topMenu}
    <div style="float: right">
        {if $user->isLoggedIn()}
            <a n:href=":Admin:Homepage:" class="button top">Administrace</a>
        {else}
            <a n:href=":Admin:Sign:in" class="button top">Přihlásit</a>
        {/if}
    </div>
    {block header}{/block}
{/block}

{block menu}
{/block}
