{var $robots = noindex}

{block content}
    <h1 n:block=title>Access denied</h1>
    <p class="center">You don't have enough permission to access this page.</p>
    <p class="center">
        <small>error 403</small>
    </p>
{/block}
