{block content}
    <h1>Hlavní nabídka</h1>
    {control nav}
    <div class="news">
        <h2>Aktuální informace</h2>

        <p>Aktuální informace o účetních závěrkách PO za 2. kvartál 2014 najdete v sekci výkaznictví PO.</p>
    </div>
{/block}
