# move this file to upper directory
parameters:
  db:
    host: 127.0.0.1
    driver: mysql
    database: testing
    username: travis
    password:
    profiler: true
  mailer:
    smtp: true
    host: host
    port: port
    username: username
    password: password
