php:
  date.timezone: Europe/Prague


nette:
  application:
    errorPresenter: 'Application:Error'
    mapping:
      *: Blog\*\*Presenter

  latte:
    macros:
      - Blog\Latte\ImageMacro

  container:
    debugger: true

  debugger:
    maxDepth: 6
    maxLen: 2000

  session:
    expiration: 14 days
    name: %name%


services:
  # alternative security storage
  nette.userStorage:
    class: Blog\Storage\UserStorage
  user:
    class: Blog\Security\User
  - Blog\Auth\Authenticator
  - Blog\Auth\Authorizator
  nette.mailer: Nette\Mail\SmtpMailer(%mailer%)

#  application:
#    class: Joseki\Application\Application

  # system services
  applicationManager: Joseki\Application\Manager(%version%, %name%)
  routerFactory: Blog\RouterFactory
  router: @routerFactory::createRouter(@applicationManager::getVersion(), %debugMode%)
#  - class: Joseki\Application\ErrorPresenterFactory
#    setup:
#      - setDefaultErrorPresenter('Application:Error')
