includes:
  - config.nette.neon
  - extension.webloader.neon
  - extension.leanmapper.neon
  - config.local.neon
  - config.model.neon

extensions:
  webloader: WebLoader\Nette\Extension
  LeanMapper: MyApplication\LeanMapper\DI\Extension

parameters:
  name: MyApplication
  libsDir: %appDir%/../libs
  resourceDir: %appDir%/../resources/upload

services:
  # presenters

  #services
  applicationManager: Joseki\Application\Manager(%version%, %name%)
  - MyApplication\Storage\ImageStorage(%resourceDir%)
  - MyApplication\Storage\ImageCacheStorage(%resourceDir%/cache)
#  - Services\TextConvertor(@httpRequest, %wwwDir%)

  # factories
  - implement: MyApplication\Auth\SignFormFactory
  - implement: MyApplication\Navigation\NavigationFactory

