# rename this file to config.local.neon
parameters:
    db:
        host: host
        driver: mysql
        database: database
        username: root
        password:
        profiler: true
    mailer:
        smtp: true
        host: host
        port: port
        username: username
        password: password
