# rename this file to config.local.neon
parameters:
    db:
        host: 127.0.0.1
        driver: mysql
        database: dbname
        user: johndoe
        password: the_password
        profiler: TRUE

services:

factories:
