extensions:
  webloader: WebLoader\Nette\Extension

parameters:
  webloaderDir: %appDir%/../www

services:
  wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
  lessFilter: WebLoader\Filter\LessFilter
  cssMin: Joseki\Webloader\CssMinFilter
  jsMin: Joseki\Webloader\JsMinFilter

webloader:
  cssDefaults:
    sourceDir: %webloaderDir%/css
    tempDir: %webloaderDir%/webtemp
  jsDefaults:
    sourceDir: %webloaderDir%/js
    tempDir: %webloaderDir%/webtemp
  css:
    default:
      files:
        - {files: ["*.css"], from: %resourceDir%/design}
        - screen.css
      filters:
        - @wlCssFilter
        - @cssMin

  js:
    default:
      files:
        - jquery/jquery.js
        - %libsDir%/composer/nette/forms/src/assets/netteForms.js
        - main.js
      filters:
        - @jsMin

