services:
  wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
  lessFilter: WebLoader\Filter\LessFilter
  cssMin: MyApplication\CssMinFilter
  jsMin: MyApplication\JsMinFilter

webloader:
  css:
    default:
      files:
        - bootstrap.css
        - bootstrap-tagsinput.css
        - octicons.css
        - screen.css
      filters:
        - @wlCssFilter
        - @cssMin
      fileFilters:
        - @lessFilter
  js:
    default:
      files:
        - jquery/jquery.js
        - jquery/jquery.ui.js
        - jquery/jquery.ui.lang.js
        - %libsDir%/composer/nette/forms/src/assets/netteForms.js
        - main.js
      filters:
        - @jsMin

