extensions:
  LeanMapper: Joseki\LeanMapper\DI\Extension

LeanMapper:
  host: %db.host%
  username: %db.username%
  password: %db.password%
  driver: %db.driver%
  database: %db.database%
  lazy: TRUE
  profiler: %db.profiler%

  mapperClass: MyApplication\LeanMapper\Mapper

  packages:
    Auth:
      - user
      - role
    Navigation:
      - section
      - restriction
