{layout '../../App/templates/@layout.latte'}

{block topMenu}
    <div style="float: right">
        <a n:href=":Front:Homepage:" class="button top">Front</a> <a n:href="Sign:out" class="button top">Odhlásit</a>
    </div>
    {block header}{/block}
{/block}

{block menu}{/block}


